[2020-04-17 15:26] jonminter opened #1 "CATS fails for HTTP PUT, does not replace the path parameter"
I'm not entirely sure if this is because of the tool not working well with that particular case or if there is something in documentation I missed about configuration options. But what is the expected behavior for HTTP PUT for paths that have a required path parameter in them?

Here is the error I'm receiving when trying to run these tests against my API (full URL path is redacted):

[ERROR] [Test

[2020-04-18 09:53] en-milie commented on #1
PUT is one of the methods that has an actual body/payload and this is why the fuzzing only happens at the payload level (as opposite to GET, DELETE). Path parameters won't be fuzzed for PUT but rather it is expected to supply a static value via `urlParams` or the `reference data` file. In your case the `id` needs to have a static value.
I'll make sure the documentation is more clear about this and

[2020-04-23 15:21] jonminter commented on #1
Ok thanks! And no problem, this tool looks great. I'm trying to integrate it into the CI pipeline for a project for automating some API testing should save a lot of time and test a greater range of scenarios than hand written example tests.

[2020-05-06 13:57] #1 closed

[2020-05-06 13:57] en-milie commented on #1
This is now fixed in https://github.com/Endava/cats/releases/tag/cats-4.2.1

[2020-07-22 22:17] sin-bin opened #2 "CATS fails on HTTP GET with query parameters"
CATS will replace url path parameters. However, query parameters are not set or replaced. For example:
`http://localhost/api/{id}?sortBy={sortProperty}`

Query parameter "`sortBy`" is not set in the Full Request Path.

OpenAPI swagger fully supports query parameters:

[code]

[2020-07-27 06:36] en-milie commented on #2
Thanks for reporting this. This is indeed a missing feature. I'll focus on implementing it in the next days.

[2020-07-31 18:19] en-milie commented on #2
This is now fixed under: https://github.com/Endava/cats/commit/80074c4c977077643c9487c51f997e0a23ac5e29

[2020-07-31 18:20] #2 closed

[2020-11-26 10:19] CarmenCirebea opened #3 "malformed JSON scenarios send a correct JSON format payload"
The "Send a malformed JSON" scenario doesn't work as expected: the "bla" string that needed to be appended to the payload isn't.

Expected: send a payload + "bla" string at final and receive a 4XX response code
Actual: sends a correct payload and receives a 200 response code

![MalformedJSON](https://user-images.githubusercontent.com/23148631/100338675-904c5200-2fe1-11eb-829e-fd407be4f0a2.png)

[2020-11-26 15:36] sebipirpi opened #4 "UnsupportedContentTypesHeadersFuzzer missing "boundary" when sending "multipart" as content type"
When sending "multipart" as the content type, an additional "boundary" value is required. This affects the scenarios where UnsupportedContentTypesHeadersFuzzer is used for checking if "multipart" is not accepted, as expected and a 415 response code is returned. The server instead returns Http Code 500 and the test is marked as an error.

actual:
`{
    "name": "Content-Type",
    "value": "multipa

[2020-11-26 18:52] en-milie commented on #3
CATS is actually sending the malformed JSON, but due to the way it creates the reports it can only incorporate. In order to make this more visible, the following updates were made:
- Add a section in README.md with details about the [MalformedJsonFuzzer](https://github.com/Endava/cats#malformedjsonfuzzer)
- Add a new log line saying `Final payload:` before doing the service call to check the exact

[2020-11-26 18:53] #3 closed

[2020-11-26 19:12] #4 closed

[2021-02-25 11:26] sebipirpi opened #6 "NamingsContractInfoFuzzer does not allow operations in path names because they are in singular form"
Since not all actions are logically linked to CRUD operations, you should be allowed to have endpoints which end with an operation name rather than a resource, in case the action is isolated.
https://www.finextra.com/blogposting/16402/nouns-and-verbs-in-the-world-of-apis
https://plonerestapi.readthedocs.io/en/latest/conventions.html

e.g.
/devices/{id}/alerts/{id}/resend

CATS does not accomodate

[2021-03-01 10:38] sebipirpi commented on #6
I think this should also be allowed when the second to last path element is not a resource identifier, for operations such as "calculations/add", "encryptions/encrypt_using_aes"

[2021-03-01 13:21] en-milie commented on #6
The second example is not valid. This shouldn't be seen as a good practice. What you should do is a `POST` on `/encryptions` with `{algorithm: AES, payload: ....}`.
For the first example I will read a bit more around general recommendations.

[2021-03-01 19:51] en-milie commented on #6
This is now fixed in [v5.2.9](https://github.com/Endava/cats/releases/tag/cats-5.2.9).
Thanks @sebipirpi for reporting this.

[2021-03-01 19:51] #6 closed

[2021-03-02 08:36] sebipirpi commented on #6
No problem. Thank you @en-milie for addressing it so quickly!

[2021-07-16 20:07] rotten opened #8 "Stack trace on one of my endpoints"
As soon as cats starts up against one of my endpoints, it blows up:
[code]
My API does not throw any errors when this happens.  Suggestions for what might cause this?

[2021-07-16 20:15] en-milie commented on #8
Is there a way to share the endpoint? Keeping the structure and anonymize if needed. Seems like a oneOf/anyOf definition.

[2021-07-16 20:17] rotten commented on #8
A bunch of my endpoints do this, only a few actually work.  I don't have an easy way to share it at this time.  I might be able to construct a standalone FastAPI instance that can reproduce the crash though.  It is worth a shot.  I'll see what I can post back.

[2021-07-16 20:50] rotten commented on #8
I spun up a simple fastapi example with two GET endpoints that don't really do anything.  Now when I run cats both endpoints kick out an NPE.  I would have expected the simple endpoints to fuzzable.  First the API server:
requirements.txt
[code]
server.py
[code]
The api server is started with
[code]
You can then hit http://localhost:8000/ and http://localhost:8000/health to see the api response.
I

[2021-07-16 20:51] rotten commented on #8
[code]
When I get past the NPE, then I can go back to make an endpoint that throws my original exception.

[2021-07-17 18:54] en-milie commented on #8
NPE is now fixed. Can you please check. I'm very interested on how the initial payload looks like. It seems something related to the way the swagger python library generates the documentation and how schemas are referenced.

[2021-07-18 12:07] rotten commented on #8
Excellent!  Thanks!  I can confirm the NPE is gone.  Now I'll go back to building  my example to see if I can get that IndexOutOfBounds exeception again so we have an example demonstrating the issue.  This may take me a couple of days because I have a very full schedule for the next few days.

[2021-07-19 16:00] jamesfulford opened #10 "NullPointerException for MaxLengthExactValuesInStringFieldsFuzzer with uri or uuid format"
Stack trace for NullPointerException pointed here: https://github.com/Endava/cats/blob/master/src/main/java/com/endava/cats/fuzzer/fields/base/ExactValuesInFieldsFuzzer.java#L40

I found it only worked if I removed any mention of "format": "uri" or "format": "uuid" from the spec for my input parameters. Not sure what the problem is with those?

[2021-07-19 16:05] jamesfulford opened #11 "High maxLength throws IllegalArgumentException"
Stacktrace when attempting to generate a string when schema says maxLength: 2147483647. (Including this value is the default behavior of springdoc if minLength is specified). Ideally a warning instead. I can update my API doc to be a more reasonable number, but opening so can be handled more gracefully and/or others can know how to fix.

[code]

[2021-07-19 16:19] jamesfulford opened #12 "Question: path parameters?"
I love this project, by the way. Heard about you from TLDR newsletter, giving it a try on some of my APIs. (We have some internal tools, and yours is waaay easier to get to work with authentication, props to you :) )

I'm building APIs with Spring, so my springdoc-generated OAS specs can often have path parameters expressed like `/articles/{id}`, which I'm not sure how to pass in a valid ID for. E

[2021-07-20 06:16] en-milie commented on #10
Can you please post an example similar to your API specs? Ideally with the payload schema. It's strange that it throws a NPE if maxLength is defined....

[2021-07-20 09:21] en-milie commented on #12
Thanks 😄. It's great hearing feedback (and maybe future improvements).

You can supply path parameters in 2 ways:
- via `--urlParams="key:value;key1=value1"`
- via the `--refData` file by saying something like:

[code]

`DELETE` is a bit tricky to handle. Up until now I've used the following approach:
- have CATS first running for non-DELETE methods using `--httpMethods="POST,PUT,GET,PATCH"`
- hav

[2021-07-20 11:40] en-milie commented on #11
This is now fixed/addressed under: https://github.com/Endava/cats/commit/16e9456f608bafb36b3571964fde6eb25db4988f. Documentation updated to explain behaviour and encourage setting reasonable `maxLength` values: https://github.com/Endava/cats#stringfieldsrightboundaryfuzzer

[2021-07-20 15:00] jamesfulford commented on #11
If you put out another release, I'll download the jar and test it out

[2021-07-20 15:15] jamesfulford commented on #12
Makes sense, I'll give that a shot. Thanks

[2021-07-20 15:15] #12 closed

[2021-07-21 13:12] en-milie commented on #11
Try this one: https://github.com/Endava/cats/releases/tag/cats-6.0.3
Also, it will be helpful to have a complete request schema definition for #10

[2021-07-22 14:49] jamesfulford commented on #10
I ran with this subset of my spec, got issue again:
[code]

I run with command:
[code]

.headers.creds contains an Authorization header, refdata.creds just says any orgId input param should be $MAIN_ORG_ID.

Stack trace:
[code]

Version 6.0.2

[2021-07-22 15:11] en-milie commented on #10
Discovered the issue. Working on a fix today. Thanks for the detailed report.

[2021-07-22 15:22] LiamRiddell commented on #10
@en-milie  - I believe the `MinLengthExactValuesInStringFieldsFuzzer` has the same issue as well. :) I had this same issue yesterday and had to disable both of the min/max length values fuzzers.

[2021-07-22 15:23] en-milie commented on #10
Yes, it's the same root cause.

[2021-07-22 19:38] jamesfulford commented on #11
Tried out 6.0.3, seems to be fixed. Thanks!

[2021-07-22 19:38] #11 closed

[2021-07-23 06:08] en-milie commented on #10
This is now fixed in 6.0.4: https://github.com/Endava/cats/releases/tag/cats-6.0.4

[2021-07-26 13:22] rotten commented on #8
I believe this is the issue that is causing the IndexOutOfBounds errors:  https://github.com/tiangolo/fastapi/issues/240

[2021-07-26 13:27] en-milie commented on #8
Is there a way to post an (anonymized) snapshot of the endpoint? I suspect is also around the naming of the schemas?

[2021-07-26 14:41] rotten commented on #8
I'll see what I can do.

[2021-07-31 19:12] #10 closed

[2021-08-03 15:44] rotten commented on #8
I'm still trying to reproduce this, whenever I get a chance, in a fastapi example outside the context of my application.  Unfortunately cats works fine on the examples I've been able to generate so far.

I was able to resolve the openapi formatting issue for the "exclusiveMinimum" field as references in the issue listed above by exporting a custom openapi.json .  (It is still not fixed without ove

[2021-08-03 19:34] rotten commented on #8
By adding:
[code]
at line 320 of `/src/main/java/com/endava/cats/model/factory/FuzzingDataFactory.java`

I get these two rows:
[code]
before it blows up.

It looks like the second row is failing because it is missing a `#`.

... still digging.

[2021-08-03 21:30] rotten commented on #8
Ok, I found the part of the openapi.json that trips this exception:

[2021-08-17 18:59] en-milie commented on #8
@rotten Thank you for the detailed information. I'll try to reproduce it locally and work on a fix.

[2021-08-17 21:33] en-milie commented on #8
This is now fixed in https://github.com/Endava/cats/commit/59607819ae48ec3ea8ccd564dbd42e0ae6754b90
@rotten please give it a try when you have some time.

[2021-08-18 16:35] luanacesar commented on #8
Hi Everyone, today I gave a try again and I’m still facing issues. First I got an error about not having the surefire package, then I got this error below. I used the Endava cats maven URL in the Pom file but I also used mine too, I got the same error in both. What should I do? Thank you for your help.

[INFO] BUILD FAILURE

[INFO] ------------------------------------------------------------------

[2021-08-19 10:50] en-milie commented on #8
@luanacesar it seems you are trying to deploy cats. can you please run `mvn clean package` and let me know what happens?

[2021-08-22 13:22] 8luebottle opened #14 "NullPointerException for MediaType.getSchema()"
I'm facing a `NullPointerException` issue.

The command that I ran was:
`./cats.jar --contract=openapi.yaml --server=https://subdomain.domain-name --paths=/v1/endpoint --headers=headers.yaml`

### Result Info
[code]

How can I fix this issue?

[2021-08-23 11:35] en-milie commented on #14
@8luebottle can you please post a sninpet from the OpenAPI contract?

[2021-08-23 12:44] 8luebottle commented on #14
Hello @en-milie, is this what you are looking for?

[code]

[2021-08-23 13:46] deepkimchi opened #15 "Client side rate limitting or throttling"
Hi team. first of all thanks for the awesome library you built. The whole process was a breeze.
Just wonder whether it support any type of Rate limit setup or have a plan for having something similar in the future.
I'm asking this because I came across multiple 503 from the API server while running it, the more Fuzzer CATS have, the more it act like a performance testing. :)

[2021-08-23 14:57] en-milie commented on #15
I plan to do a commit with this tonight.

[2021-08-23 17:42] en-milie commented on #15
This is now implemented under: https://github.com/Endava/cats/commit/de993c563c6bc2f215bb6394aa7f3a17156a4d8d You can use the `--maxRequestsPerMinute` argument to control the max requests per minute that CATS will send.

[2021-08-23 17:56] en-milie commented on #14
Hi @8luebottle. Is this the exact content of the `openapi.yaml` file that you are supplying as argument? When I run on by box I get the following output:
[code]

One other remark is that `/v1/endpoint` does not actually exist inside the OpenAPI contract file.

[2021-08-23 22:05] 8luebottle commented on #14
@en-milie
The original `openapi.yaml` file has a bunch of paths and examples.
Once I removed examples and components it works fine.

Looks like the exception belongs to the `requestBodies`

### Example of removal
[code]

FYFI: The yaml file has been generated by `swagger-codegen` command.

Thank you for your help.

[2021-08-28 02:56] #14 closed

[2021-08-30 06:17] en-milie commented on #15
This is now released in: https://github.com/Endava/cats/releases/tag/cats-6.0.5

[2021-08-30 06:17] #15 closed

[2021-08-30 06:18] en-milie commented on #8
This is now released under: https://github.com/Endava/cats/releases/tag/cats-6.0.5
@luanacesar if you still have the other issue reported, please open another issue.

[2021-08-30 06:18] #8 closed

[2021-10-19 00:56] dehehe-mirai opened #16 "NullPointerException for getSchema()"
version: v6.0.5
running environments: Windows 10(64bit)
[code]
command: `cats --contract=ghes-2.22.yaml --server=https://api.github.com --paths="/user/repos" --headers=header_github.yml`
error message:
[code]
spec file:`https://github.com/github/rest-api-description/blob/main/descriptions/ghes-2.22/ghes-2.22.yaml`
header file:
[code]

[2021-11-16 11:56] rahulahoop opened #17 "better parsing errors"
When trying to run cats on our project specification, i get a plain old

`[**********][*****] ‼ fatal    Error parsing OPEN API contract <filename>`

anyway could get a reasoning with whats wrong in the error message ?

we are using relative file paths to reference and reuse schema definitions.

ive added cats.jar to my path so i can run it directly on the project level

[2021-11-17 09:41] en-milie commented on #17
@rahulahoop this is fixed in the last commit and will be released this week.

[2021-11-17 14:48] rahulahoop commented on #17
Ok I've built the jar from source and now Im getting the error stack trace.

i softlinked the jar so i can run it anywhere but the first stack trace i got was file not found becuase im giving the file relative to the dir im in, so like in the example

dir
- spec

$dir cats.jar --contract=spec

if i provide full PWD then he finds the file.

Then he cant interpret references to other yaml files and

[2021-11-17 18:55] en-milie commented on #17
@rahulahoop Is it possible to post an example? It seems that the openapi parser has issues with this. I didn't test this scenario yet, so it will be helpful to see what's missing. It might be some additional parser configuration that's needed.

[2021-11-17 20:16] rahulahoop commented on #17
[example.zip](https://github.com/Endava/cats/files/7557753/example.zip)

attached is a sample of referencing the path

produces the same error

@en-milie

[2021-11-17 20:32] rahulahoop commented on #17
[https://github.com/swagger-api/swagger-parser/blob/2de0106e4502d6db72848f5a8daad13a7e572b98/modules/swagger-parser-v3/src/main/java/io/swagger/v3/parser/ResolverCache.java#L126](url)

its correct in reading from an external file, perhaps its the path

am i incorrect in providing the full qualified path for the contract?

[2021-11-18 09:24] en-milie commented on #17
I'll run the example and get back

[2021-11-18 11:10] en-milie commented on #17
@rahulahoop you should put `$ref: './shared/extra.yaml/#/components/schemas/NotAccessible'`. Please notice the `./` at the start.

[2021-11-18 11:34] rahulahoop commented on #17
@en-milie i still get runtime exception with the same error

[2021-11-18 18:29] en-milie commented on #17
I run CATS as:
`./cats.jar --contract=contract.yaml --server=http://localhost:8200`

The contract.yaml looks as follows:
[code]

And I get a full run:
` ☑ complete CATS finished in 2151 ms. Total (excluding skipped) requests 66. ✔ Passed 3, ⚠ warnings: 22, ‼ errors: 41,`

@rahulahoop am I missing something?

[2021-11-22 14:37] en-milie commented on #17
@rahulahoop can I close this? or still having issues?

[2021-11-22 14:49] rahulahoop commented on #17
I am still having an issue but Im not sure how I can recreate it.

I moved the jar to folder of my specification and he starts to fuzz with happyfuzzer but gets a null pointer on endpoint that looks like this

[code]

[code]

i tried to make a smaller replica case for this but its not getting npe so im a little bit confused

[2021-11-22 16:09] en-milie commented on #17
@rahulahoop will you be able to post the schemas as well? both of them? (anonymised, of course)

[2021-11-22 16:17] rahulahoop commented on #17
@en-milie sure i think its with the subtype tho

[code]

[2021-11-23 07:29] en-milie commented on #17
@rahulahoop I did a run with the following schemas and didn't reproduce the problem. From the exception you mentioned above it seems that you use `anyOf` or `oneOf` with a discriminator. Can you also let me know where is that used?

statistics.yaml
[code]

statistics-reports.yaml:

[code]

[2021-11-29 11:52] en-milie commented on #17
@rahulahoop can I close this one? and maybe open a new one for the issue(s) you are facing?

[2021-11-29 14:48] rahulahoop commented on #17
@en-milie sure thats a good idea

[2021-11-29 14:48] #17 closed

[2021-12-15 22:06] aharpervc opened #19 "cats appears to incorrectly (?) provide a value for a read only field for an unrelated fuzzer"
Hi, I've started playing around with cats and noticed something odd. I see a fuzz test report for the `RemoveFieldsFuzzer` that ran a post request to create a record. Based on the request payload shown in the report, a particular field was actually removed, so that part looks good.

However, another field was included in the request payload that my OpenAPI spec defines as read only (the "id" field

[2021-12-15 22:13] aharpervc commented on #19
I noticed something else about this particular report... it looks like cats doesn't support http status code "ranges" syntax in I have in the OpenAPI spec file (eg, `4xx` as defined here: https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#patterned-fields-1).

The expected result in the report says "Should return [4XX] response code as required fields [were] removed", and the

[2021-12-16 11:07] en-milie commented on #19
Hi, @aharpervc! Thank you for taking the time to report these. They are both valid points. CATS does not exclude readOnly fields and does not support ranges.
I'll open a different bug for the ranges one as it is quite simple to enable, and leave this one for the readOnly fields.

Will probably have both available in 7.0.1.

[2021-12-16 11:08] en-milie opened #20 "Add support for response code ranges"
I noticed something else about this particular report... it looks like cats doesn't support http status code "ranges" syntax in I have in the OpenAPI spec file (eg, 4xx as defined here: https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#patterned-fields-1).

The expected result in the report says "Should return [4XX] response code as required fields [were] removed", and the r

[2021-12-16 14:45] aharpervc commented on #19
Great, I'll look forward to the next release then. It also occurred to me that cats may benefit from a fuzzer that attempts to write to read only fields, and validates that there's an error code as the response.

[2021-12-18 19:44] en-milie commented on #19
@aharpervc Thank you for the idea about a new Fuzzer.
The issue should be fixed in https://github.com/Endava/cats/releases/tag/cats-7.0.1

[2021-12-18 19:44] #19 closed

[2021-12-18 19:45] en-milie commented on #20
This is now fixed in: https://github.com/Endava/cats/releases/tag/cats-7.0.1

[2021-12-18 19:45] #20 closed

[2022-01-12 08:29] comat0zz opened #21 "java.lang.NullPointerException"
I am using version cats-linux 7.0.1
launch string: cats --contract=../swagger.json --server=https://api-site/
Why does not it work? cats.jar starts without problems

Powered by Quarkus 2.5.1.Final
[**********][*******] ▶ start      Starting CATS, version 7.0.1, build-time 2021-12-18T19:44:03Z UTC
[**********][*******] ● note       Processing configuration...
[**********][*******] ℹ info       No s

[2022-01-12 13:31] comat0zz opened #22 "Reporting to JSON format?"
Will the report be implemented in the JSON format?
There is not enough for uploading into the defectdojo. At the moment we have to convert html to json an additional script that parses html :cry:

[2022-01-12 18:17] en-milie commented on #21
Hi @comat0zz. Thank you for reporting this. It seems to be caused by the fact the the Swagger 2 parser was not included in the generated linux native image. Can you please confirm if your API spec is swagger 2? If this is true, the fix is available in https://github.com/Endava/cats/commit/58a338e6961ac192c5775799cb80797f8b677160 and will be released in 7.0.2.

[2022-01-12 18:28] en-milie commented on #22
Something like this:

[code]

[2022-01-13 06:56] comat0zz commented on #22
Yes, I mean a report in the form of a single JSON file with all the tests.

[2022-01-13 06:57] comat0zz commented on #21
Yes, "swagger": "2.0"

[2022-01-13 07:10] en-milie commented on #22
Ok. The above JSON will be available in 7.0.2 alongside the HTML one.

[2022-01-13 07:11] comat0zz commented on #22
Thx )

[2022-01-13 07:11] en-milie commented on #21
Great. The fix will be available in 7.0.2, which will be released this week.

[2022-01-13 08:10] #22 closed

[2022-01-14 08:52] comat0zz opened #23 "Names for reports"
Is it possible to make it possible to give names to directories with reports? When several assemblies are launched in cd\ci, problems begin. As far as I see the option is to include a timestamp and parse the fuzzer's response to find out which timestamp. It would be very convenient if you could specify the option where the report will be saved and what name it will have. For exmaple:
cats ... -o /

[2022-01-14 09:12] comat0zz opened #24 "How disable colorization in non terminal system?"
Is it possible to disable colorization in the output? When it is displayed in the terminal, everything is fine, but when it is displayed on a page, for example, jenkins, then a lot of unnecessary things are visible, which makes it difficult to navigate.

Example:
`[39m[38;5;188m[[39m[38;5;85m*[35;1mTest 376[m*[39m[38;5;188m][[39m[38;5;85m[35;1mVLVIFF[m*[39m[38;5;188m] [39m[38;5;231

[2022-01-14 18:21] en-milie commented on #23
@comat0zz This is now available in https://github.com/Endava/cats/commit/5a5d20f466c81016a5dc19ad33032a22fe839601
Just use `--output` or `-o` to set the output folder for the report.

[2022-01-14 18:24] en-milie commented on #24
Hi @comat0zz. This is available in https://github.com/Endava/cats/commit/a4f8e7799211fb276ffb8486b4922008d246a9fc
In order to disable ANSI formatting, you need to set the [NO_COLOR](https://no-color.org/) system variable (with any value).

`export NO_COLOR=true`

CATS will output plaint text with no formatting.

[2022-01-15 08:40] comat0zz commented on #23
:+1:

[2022-01-15 08:40] #23 closed

[2022-01-15 08:46] comat0zz commented on #24
:+1:

[2022-01-15 08:46] #24 closed

[2022-01-17 16:59] tasoskoutlis-f3 commented on #21
Hi @en-milie I just got the 7.0.2 version, I have a Swagger 2 file and I am still getting the same error
[code]
CAn you please have a look? Thanks

[2022-01-18 13:17] en-milie commented on #21
Hi @tasoskoutlis-f3 yes. It seems so. I will release a patch tonight.

[2022-01-18 19:01] en-milie commented on #21
Hi @tasoskoutlis-f3. This is fixed now in https://github.com/Endava/cats/releases/tag/cats-7.0.3

[2022-01-18 20:31] daniel-f3 commented on #21
Hi @en-milie I just got the 7.0.3 version, I have a Swagger 2 file and I am still getting the same error, could you please have a look? Thank you

[code]

[2022-01-19 07:32] en-milie commented on #21
Hi @daniel-f3. Can you please post a sample that fails? I'm not able to reproduce this anymore with the swagger 2 spec I have.

[2022-01-19 09:34] comat0zz opened #25 "HTTP method not supported yet!"
Hi! Works great in cats.jar, but cats-linux doesn't work as it should.

./cats-linux --contract=swagger.json --server=https://api/docs

Powered by Quarkus 2.6.2.Final
[**********][*******] ▶ start      Starting CATS, version 7.0.3, build-time 2022-01-18T18:54:52Z UTC
[**********][*******] ● note       Processing configuration...
[**********][*******] ℹ info       No security custom Fuzzer file. Se

[2022-01-19 09:40] tasoskoutlis-f3 commented on #21
Hi @en-milie I tried to sent you the 2 swagger files via a Twitter DM, but you have them disabled (My twitter handle is @th3_alchem1st )

[2022-01-19 21:32] en-milie commented on #25
Hi @comat0zz. Seems to be same root cause as the other Swagger 2 spec issues. Should be (ideally) fixed in https://github.com/Endava/cats/releases/tag/cats-7.0.4

[2022-01-19 21:32] en-milie commented on #21
Should be (finally) fixed now in https://github.com/Endava/cats/releases/tag/cats-7.0.4

[2022-01-19 21:37] daniel-f3 commented on #21
Awesome thank you, it is fixed.

[2022-01-20 07:29] #21 closed

[2022-01-20 15:26] #25 closed

[2022-01-20 15:26] comat0zz commented on #25
Thx!

[2022-01-20 15:31] comat0zz opened #26 "How to add mine dictionaries?"
In CustomFuzzer there are examples of how to specify the path and fields, but what if I need the fuzzer to go through all the paths and fields in swagger file. Can you give an example? Or how to add your own payloads dictionary for substitution in the fields? For example, on all lines or numbers?

[2022-01-26 10:13] en-milie commented on #26
Hi @comat0zz. The `CustomFuzzer` is only intended to create functional tests without writing actual code. More like a DSL where you can instruct CATS to run specific tests for specific paths with specific values and let CATS fill in the gaps. You can verify results and use variables across tests. As I said, typical to a functional test.

If you want to pass your own values within specific fields y

[2022-01-26 10:43] comat0zz commented on #26
Hi @en-milie !
Not quite the answer I was expecting. ^)

I want to make one dictionary for all fields of a certain type. For instance:
1. for all string value - this is a check for sql injection.
2. for all numbers  value - large numbers, marginal values.

How should it look like? Let's look at an example of a **Security Fuzzer**. How can I modify it?

[code]

**/pet** change to **all**?
**targetF

[2022-01-26 10:51] en-milie commented on #26
The `SecurityFuzzer` does not support field types. Only specific field names. This was deliberate as it can take a very long time to go through all fields based on a dictionary. If you multiply paths * fields * dictionary words, you can end up with tens of thousands of tests easily.
But it seems a good idea to take data types. Maybe something like:

[code]

And also allow `all` as path.

[2022-01-26 18:07] comat0zz commented on #26
@en-milie, fieldTypes is already working or is it just an idea?

[2022-01-27 07:33] en-milie commented on #26
Just an idea at the moment. Not that hard to implement.

[2022-01-27 08:12] comat0zz commented on #26
@en-milie , I would be happy if you do it :)

[2022-01-28 06:41] comat0zz commented on #26
@en-milie  Can you orient: will it be implemented? If yes, then when? For me, this opportunity is very important.

[2022-01-28 07:09] en-milie commented on #26
yes, most likely end of this week.

[2022-01-31 20:56] en-milie commented on #26
You can now use `targetFieldTypes` in `securityFuzzer.yml`. You can not specify yet `all` as path. https://github.com/Endava/cats/commit/d1cb526a1a78a1518f71e947bca3f1423e943ee0

[2022-02-03 11:27] comat0zz commented on #26
@en-milie Wow, thx!  When will this functionality be released in cats-linux?

[2022-02-03 19:06] en-milie commented on #26
@comat0zz  https://github.com/Endava/cats/releases/tag/cats-7.0.5

[2022-02-04 10:24] comat0zz commented on #26
@en-milie Great work!

[2022-02-04 10:24] #26 closed

[2022-02-04 13:55] comat0zz opened #27 "Ignoring results for a specific HTTP Response code"
It is necessary to discard the 4xx codes. So that it doesn’t even get into the results and doesn’t create files on them.
There is an option in the settings to **ignoreResponseCodes**, but it does not do exactly what we would like - it also creates files and moves the results to the success.
Now results are additionally processed by an external script to get rid of unnecessary HTTP response codes.

[2022-02-07 08:19] en-milie commented on #27
Hi @comat0zz. Makes sense. I'll think about introducing a generic way to ignore specific results.

[2022-02-07 09:20] comat0zz commented on #27
@en-milie :+1: Looking forward to this feature

[2022-02-07 11:30] comat0zz opened #28 "Time delta between request and response"
Is it possible to make a time delta between response and request? This feature will greatly help to search for DOS vectors on app in the security fuzzer.

[2022-02-07 11:34] comat0zz commented on #28
I apologize, I did not read the help carefully

[2022-02-07 11:34] #28 closed

[2022-02-09 18:34] en-milie commented on #27
I added a new argument for this: `--skipReportingForIgnoredCodes` or `-k`. This will be available in 7.0.6.

[2022-02-25 09:41] Jiehong opened #31 "GET and DELETE with bodies"
Hi,

Until the Http Query method is not ready (https://www.ietf.org/archive/id/draft-ietf-httpbis-safe-method-w-body-02.html), some GET and DELETE services have to be specified with a body, because the size of the queryParameters is higher [than the limit encountered in the wild](https://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers).

So, would it be

[2022-02-25 12:39] en-milie commented on #31
Currently this is not possible. I'll investigate what it means to do this. There are usually limitations coming from http libraries which make this assumption. So introducing this might require a more complex for of ok-http and maybe other dependencies.

[2022-03-01 18:42] #27 closed

[2022-03-04 15:02] josip1001 opened #32 "HTTP method not supported yet!"
**OS:** Windows
**Action:** Fuzz endpoint with POST method
**Swagger:** 2.0
**CATS version:** 7.0.5

Hi,

we tried to launch test for fuzzing endpoint with POST method. We used "swagger":"2.0" and after run command below we have got error: **HTTP method not supported yet!**
We executed this command twice on "openapi":"3.0.3 and it worked well.

`java -jar cats.jar --contract=swaggerdoc.yaml --serv

[2022-03-07 20:29] rand-guy opened #33 "Test inputs based on examples for path/query params"
For request body, if we add examples in schema, generated inputs take the example for generating meaningful inputs. Is there similar way to generate inputs for path/query parameters?
I tried adding examples for them but CATS doesn’t generate any test cases using examples values.

[2022-03-07 22:41] en-milie commented on #32
thanks for reporting this. i’ll have a look

[2022-03-07 22:42] en-milie commented on #33
i’ll check and get back.

[2022-03-08 07:47] en-milie commented on #32
@josip1001 can you please post the snippet with the path under test?

[2022-03-08 08:27] en-milie commented on #33
@rand-guy  can you please post an example. If I do this:

[code]

It considers the given examples.

[2022-03-08 11:47] en-milie commented on #31
Apache Http Client is even more restrictive. I've use it before switching to okhttp and it does a lot of other validations for allowed characters in headers, paths, etc. That was not working well with the concept of fuzzing. The JDK http client has the same restrictions as okhttp.

[2022-03-09 11:09] en-milie commented on #31
I'll close this as won't implement.

[2022-03-09 11:09] #31 closed

[2022-03-10 15:06] rand-guy commented on #33
Yeah, I tried for the above example. It works fine.
For me, the openAPI spec created is having this format.
[code]
Will check how I can update the spec to be able to get the format you mentioned. Thanks.

[2022-03-10 15:07] #33 closed

[2022-03-10 15:14] rand-guy opened #34 "Field fuzzers for strings not applied for path/query params"
For GET requests with query/path params of type String, I ran fuzzing and test cases weren't generated to set empty string, null value for those. Is there a way to fuzz those path/query param fields?

[2022-03-10 21:08] en-milie commented on #34
@rand-guy Adding empty or null for GET path params will result in 404 as the request doesn't even reach the right controller most of the times. But it might make sense to test query parameters for null and empty values. The current Fuzzers are explicitly disabled for GET and DELETE. But I'll add these 2 Fuzzers for query params.

[2022-03-11 14:12] josip1001 commented on #32
` java -jar cats.jar --contract=pet-api-doc-new.yaml --server=https://petstore.example.com --paths=/api/v1/pet --refData=pet.yaml --httpMethods=POST  `

API doc - [attachment.zip](https://github.com/Endava/cats/files/8232526/attachment.zip)

Powered by Quarkus 2.6.2.Final
[**********][*******] ? start      Starting CATS, version 7.0.5, build-time 2022-02-03T19:03:37Z UTC
[**********][*******] ? no

[2022-03-11 16:24] ludovicianul commented on #32
Thanks @josip1001 !

[2022-03-11 18:37] en-milie commented on #34
This is now available in https://github.com/Endava/cats/commit/adb231b3a2975739ae9afe359c9154ac449501fd
Will release it in 7.0.6 this week.

[2022-03-11 21:07] en-milie commented on #32
This is now fixed in https://github.com/Endava/cats/commit/ec4990eddcba148d2e1684cbf88935ed122f1ce8. It was caused by the `content-type` being `application/json;charset=UTF-8` instead of simply `application/json`. Will be released in 7.0.6.

[2022-03-14 07:05] en-milie commented on #34
This is now available in: https://github.com/Endava/cats/releases/tag/cats-7.0.6

[2022-03-14 07:05] #34 closed

[2022-03-14 07:05] en-milie commented on #32
This is now available in: https://github.com/Endava/cats/releases/tag/cats-7.0.6

[2022-03-14 07:05] #32 closed

[2022-03-20 17:56] pgmarc opened #35 "Adding a GUI to CATS?"
Have you considered adding a GUI to CATS anytime soon?
It could make the program more intuitive and easy to use for new users as they will interact directly with the GUI marking checkboxes with the different arguments they want to use. Basically implementing all current business logic of CATS to a GUI.

[2022-03-21 07:16] en-milie commented on #35
Hi @pgmarc. Yes, but it's not started yet. Maybe in the next 6 months.

[2022-03-31 05:23] nereus-east opened #36 "Have we thought about integrating CATS into maven plugins?"
for example.
If I add maven plugin CATS into pom.xml.

    <build>
        <plugins>
            <plugin>
                <groupId>xxxxxxxx</groupId>
                <artifactId>cats</artifactId>
            </plugin>
        </plugins>
    </build>

when I run mvn test,
then CATS will automatically run test based on `openapi.yaml` and local environment.

[2022-03-31 11:54] Mato816 opened #37 "Fuzzing won't be executed on POST method without request body"
**OS:** Windows
**Action:** Fuzz endpoint with POST method without request body
**Swagger:** 2.0
**CATS version:** 7.0.6
**Server:** https://petstore.swagger.io/
**API doc:** https://petstore.swagger.io/v2/swagger.json

Hi,

we tried to launch test for fuzzing endpoint with POST method without request body. We used "swagger":"2.0" and after run command below we have got error: The following HTTP m

[2022-03-31 12:14] Mato816 opened #38 "Fuzzing path with method DELETE containing request body"
**OS:** Windows
**Action:** Fuzzing path with method DELETE containing request body
**Swagger:** 2.0
**CATS version:** 7.0.6
**API doc:** [petstore.zip](https://github.com/Endava/cats/files/8389091/petstore.zip)

Hi,

we tried to launch test for fuzzing endpoint with DELETE method containing request body. We used "swagger":"2.0" and after run command below fuzz test was successfully launched. When

[2022-04-01 10:31] en-milie commented on #35
Will close this for now.

[2022-04-01 10:31] #35 closed

[2022-04-01 10:36] en-milie commented on #36
Hi @nereus-east. Thank you for raising this. This might be a future feature, but not currently on the roadmap.

[2022-04-01 11:47] en-milie commented on #37
Hi @Mato816. CATS only supports `application/json` as Content-Type. As I see in the Pet Store json contract the POST endpoint accepts `application/x-www-form-urlencoded`. You can provide additional contentTypes using the `--contentType` argument (like `--contentType=application/x-www-form-urlencoded`) but that might lead to some things breaking as it expects JSON elements to be present.

[2022-04-01 14:08] en-milie commented on #38
Hi @Mato816. It was a deliberate choice to ignore bodies for DELETE requests and only focusing on fuzzing path and query parameters. So currently it's not possible to fuzz bodies of DELETE endpoints.

[2022-04-01 14:14] nereus-east commented on #36
Thank you for your quick feedback!

[2022-04-02 10:48] en-milie commented on #36
I'll close this for now.

[2022-04-02 10:48] #36 closed

[2022-04-04 08:05] Mato816 commented on #38
Hi @en-milie,
thank you for your explanation. I have a question: Do you have some plan to include fuzzing DELETE endpoints in CATS or not?

[2022-04-06 11:58] Mato816 commented on #37
Hi @en-milie,

thank you for your response. If i provided additional parameter `--contentType=application/x-www-form-urlencoded` it worked well.
I have only additional question. If i have API docs the POST endpoint accepts `*/*` what can i provide in `--contentType` additional argument?
**API doc** - [petstoreTest.zip](https://github.com/Endava/cats/files/8426588/petstoreTest.zip)

[2022-04-11 11:54] Mato816 commented on #37
Hi @en-milie,

I have a question on your last answer.
I tried fuzzing for API doc **petstoreTest.zip** with following command:

`java -jar cats.jar --contract=petstoreTest.yaml --server=https://petstore.swagger.io --paths=/pet/{petId} --urlParams=petId:PET-123 --httpMethods=POST`

and got message:

I know that this issues isn't related with issue I created but I have a question if I'm providing so

[2022-04-13 19:48] en-milie commented on #37
Hi @Mato816. The way you run CATS restricts it only to POST (you provide `--httpMethods=POST` which means that CATS won't run for DELETE. If you want to have CATS running for all http methods, you just need to remove the last bit:
`java -jar cats.jar --contract=petstoreTest.yaml --server=https://petstore.swagger.io --paths=/pet/{petId} --urlParams=petId:PET-123`.

Looking at the sample contract it

[2022-04-17 13:47] stuti100 opened #39 "--securityFuzzerFile Argument not showing any results"
I was curious to use the security fuzzer offered by CATS but when ran,does not give the right result.Is this the right way to use it,I am using the command below (attached in screenshot)? If not please provide some additional info and how it outputs will look like?
<img width="1782" alt="Screenshot 2022-04-17 at 7 14 13 PM" src="https://user-images.githubusercontent.com/103888320/163717168-2c01155

[2022-04-18 07:54] en-milie commented on #39
Hi @stuti100. The `--securityFuzzerFile` requires the `httpMethod` entry to be present. It's not very explicit in the message currently presented in the log. I'll commit some changes to make that more comprehensible. In the mean time, alte your file as:

[code]

The command you've used runs all the Fuzzers + the SecurityFuzzer. There is an alternate command to run only the SecurityFuzzer:

[code]

[2022-04-20 07:50] stuti100 opened #40 "Getting ResponseCode 999 and log shows Fuzzer [VeryLargeUnicodeValuesInFieldsFuzzer] failed due to [java.net.ProtocolException: Unexpected status line:"
I was running CATS with 1 Api and got this error response code shows 999.What does that mean?Log shows :
`Exception while processing!: com.endava.cats.io.CatsIOException: java.net.ProtocolException: Unexpected status line: 62\uDCD4?\uD848\uDC6F????\uD855]...[\uDD52?\uD84A\uDE5E?\uD801\uDE64\uD808\uDEDC\uD87E\uDD85\uD81A\uDF26??\uD85D\uDF9C?\uD81F\uDC4F\uD804\uDEB5\uD865\uDF0A??\uD854\uDFC7???\uD86

[2022-04-20 09:44] en-milie commented on #40
Hi @stuti100. As the error is reported by the http library it's seems more related to how the service responds vs a problem with the OpenAPI spec. Are you able to properly send and receive requests/responses using other tools (curl, Postman, etc)?
If yes, maybe this exact payload causes your service to crash and fail to properly respond.

[2022-04-20 13:21] stuti100 commented on #39
Hi @en-milie,Thanks for answering.
I made above suggested changes and have some queries :

- As for the contract,both .yaml and .json will work? If i am trying json it is showing null pointer exception
- ` ▶ start      Start fuzzing path /_meta
java.lang.NullPointerException
        at com.endava.cats.factory.FuzzingDataFactory.extractResponseSchemaRef(FuzzingDataFactory.java:491)
        at com.e

[2022-04-20 19:28] en-milie commented on #39
@stuti100 Can you please send the OpenAPI specs, especially the `_meta` path and corresponding request/response objects?

[2022-04-21 11:10] stuti100 commented on #39
<img width="464" alt="Screenshot 2022-04-21 at 4 37 53 PM" src="https://user-images.githubusercontent.com/103888320/164445513-ce0a192b-65e1-41fb-825d-3826f5e3df30.png">
Here is the one,
Also wanted to know,while using cats run command we are unable to use --ignoreResponseCode and --paths?
Is this true that we cannot use them in cats run command and only specific arguments would be ran ?

[2022-04-22 12:16] stuti100 commented on #40
Hi @en-milie ,Thanks for the follow-up.
For some requests Postman shows 400 Bad request error,But the CATS reports are showing 999,
Even though if we see the logs and reports generated by CATS they too are considering it as 400 Bad request(As mentioned in above code block) but recording it as 999 error response code.
<img width="503" alt="image" src="https://user-images.githubusercontent.com/10388

[2022-04-22 20:09] en-milie commented on #39
--paths and --ignoreXXX arguments cannot be used with 'cats run'. this is because you the security.yml file has the paths as the main keys so adding another --path argument is redundant. the security.yml file also has a expectedResponseCode entry which might get in conflict with the --ignoreXXX argument. but I'll think about this a bit and see what is the best way to introduce --ignoreXXX argument

[2022-04-22 20:15] en-milie commented on #40
I suspect this is a bug in the http library I'm using which is okhttp. the server responds with a series of characters preceding the 400 HTTP 1.1 which okhttp cannot properly parse. is there a public api endpoint I can do some testing with? I suspect not, but worth asking.

[2022-04-23 08:45] stuti100 commented on #39
Yes,got that.How can we provide multiple expectedResponseCode ?
I tried providing them seperated by comma(,),but it does not work.
<img width="278" alt="Screenshot 2022-04-23 at 2 12 47 PM" src="https://user-images.githubusercontent.com/103888320/164887376-ca7366b8-b3e7-4fd2-9943-c44705fae383.png">
![Uploading Screenshot 2022-04-23 at 2.13.13 PM.png…]()

[2022-04-26 12:23] Mato816 commented on #37
Hi @en-milie,

thank you for your explanation. I'm closing this issue now.

[2022-04-26 12:23] #37 closed

[2022-05-02 14:16] en-milie commented on #39
Hi @stuti100. To tackle things in order:
1.  currently you cannot provide multiple `expectedResponseCode` codes. As mentioned I'll extend this in correlation with the `--ignoreXXX` arguments. Probably in the next release.
2. Is there a way to get the OpenAPI specs for the error above, especially the `/_meta` path details?

[2022-05-02 14:17] en-milie commented on #40
Hi @stuti100. Is there any chance to get access to an API endpoint? Also, the OpenAPI spec is not attached in the first comment.

[2022-05-05 06:31] stuti100 commented on #39
Thanks @en-milie for updates.Hoping to see the next release soon.

[2022-05-05 06:31] #39 closed

[2022-05-06 12:53] josip1001 opened #41 "Fuzzing - POST endpoint with payload - attribute - type of float"

[2022-05-06 12:54] #41 closed

[2022-05-06 13:09] josip1001 opened #42 "Fuzzing - POST endpoint with payload - Amount as Float data type"
Fuzz POST endpoint with payload - Amount as Float data type

Part of Swagger doc:
  "amount": {
                        "type": "number",
                        "format": "float",
                        "nullable": true
                    },

command: java -jar cats-uber.jar --contract=c:\Work\pet\pet1.json --server=https://process.example.com --fuzzers=HappyFuzzer

Result:  "The type of the \"

[2022-05-06 14:15] en-milie commented on #42
Hi @josip1001. I'm struggling to reproduce this. If I run the above command using the provided OpenAPI contract, I get payloads like this:

[code]

[2022-05-09 11:38] josip1001 commented on #42
Hi, I am using latest version(7.2.0) and I have still got same error :

{
  "responseCode": 400,
  "httpMethod": "POST",
  "jsonBody": {
    "status": "error",
    "error": {
      "message": "The type of the \"amount\" attribute for class \"App\" must be one of \"float\" (\"string\" given).",
      "code": "validation_error",
      "context": [],
      "reason": "UNKNOWN"
    }
  },
  "responseTi

[2022-05-10 07:31] josip1001 commented on #42
when i was using Param **" -Duser.language=en"**  value of amount contains **"."** instead of **","**....but amount is still sending with quotation marks ("") and i have still got response:

{
  "responseCode": 400,
  "httpMethod": "POST",
  "jsonBody": {
    "status": "error",
    "error": {
      "message": "The type of the \"amount\" attribute for class \"App\" must be one of \"float\" (\"strin

[2022-05-11 19:34] en-milie commented on #42
Usually frameworks in most of the languages will do automatically convert string to appropriate types from the backed object. I've changed though to leave every numeric field as `Number`. https://github.com/Endava/cats/commit/762806745e8ff5114540ae32a0292cf41807dd92

Will be available in the next release.

[2022-05-12 06:20] en-milie commented on #42
Hi @josip1001. You can try with https://github.com/Endava/cats/releases/tag/cats-7.2.1 release.

[2022-05-16 10:28] en-milie commented on #42
Hi @josip1001. Is everything ok with 7.2.1?

[2022-05-17 08:37] josip1001 commented on #42
thanks for fix...it's working well right now

[2022-05-17 10:24] #42 closed

[2022-05-20 14:51] molmar-form3 opened #43 "Cats endlessly looping on cyclic references"
Cats keeps looping endlessly through creating payloads when there are cyclical references in the swagger.

An example that stalls fuzzing:

[code]

[code]

Output:

[code]

Hacky python script to detect cyclical references:

[code]

[code]

[2022-05-23 06:07] en-milie commented on #43
Hi @molmar-form3. Thank you for raising this. I have a fix almost ready.

[2022-05-24 06:08] en-milie commented on #43
This is now fixed in https://github.com/Endava/cats/commit/74acf24c9b2afac5913d0b9ccf9c65c51b08ee74 and will be available in 7.2.2 later this week.

[2022-05-27 12:44] molmar-form3 commented on #43
@en-milie  Works perfect, thanks for the quick fix.

[2022-05-27 12:44] #43 closed

[2022-06-14 19:45] jvert opened #44 "NullPointerException in PayloadGenerator.parseFromInnerSchema"
(swagger.json in the attached zip file)

./cats --debug --paths=/api/groopits/create  --contract=swagger.json --dryRun --server=http://example.com

`
java.lang.NullPointerException
        at com.endava.cats.model.generator.PayloadGenerator.parseFromInnerSchema(PayloadGenerator.java:360)
        at com.endava.cats.model.generator.PayloadGenerator.processSchemaProperties(PayloadGenerator.java:342)

[2022-06-15 06:06] en-milie commented on #40
I'll close this for now. In case this is not fixed, please re-open it with more deails.

[2022-06-15 14:42] en-milie commented on #44
Hi @jvert. Thank you for reporting this. Quite an interesting case of `anyOf/oneOf` without actually using it per se. Just curious, are the specs generated? Or more like contract-first?

[2022-06-23 17:27] en-milie commented on #44
This should be fixed in the latest commit.

[2022-07-18 06:15] vzhirnov opened #46 "java.lang.NullPointerException when trying to parse a swagger v2.0 with custom extentions"
cats --server=https://my_server --contract=[swagger.json](https://apiconsole.ru1.wallarm.ru/swagger.json) --headers=my_headers.yaml --paths=/v1/objects/hint/create --blackbox --debug

[**********][*******] 👣 trace     Getting fields for prefix:
[**********][*******] 👣 trace     Getting fields for prefix: clientid
java.lang.NullPointerException
	at com.endava.cats.model.FuzzingData.getFields(Fuzzin

[2022-07-26 15:58] en-milie commented on #46
Hi @vzhirnov. Is there a particular reason for using custom extension for these objects instead of just placing them in the Components section?

[2022-08-01 06:29] dglee0307 opened #47 "Question about Report"
First of all, I'm using this project really well. Thank you.
But, there was a problem performing the REST API Fuzzing test with this project.
Please tell me the solution to this problem.
I worked on the project by writing kali linux(kali-linux-2021.4-installer-amd64.iso) on Virtual Box.
The REST API uses swagger 2.0.

1) The characters are broken.
ex)
Scenario
Send [values containing abugidas char

[2022-08-01 08:40] en-milie commented on #47
Hi @dglee0307. This is the actual intent of the `Fuzzer` to send weird characters. In this case https://en.wikipedia.org/wiki/Abugida. The purpose is to see how the application/service reacts when getting such characters. In this case it seems that it's responding with an html, rather than a valid JSON. Meaning that something is  broken on the server side when processing such characters.

[2022-08-01 08:45] dglee0307 commented on #47
Thanks for the reply. I'll try again as you told me. :) Have a nice day~

[2022-08-03 00:30] #47 closed

[2022-08-03 01:27] dglee0307 opened #48 "apiKey after paths"
Hello, I got a question while working on this project.
I'm performing REST API fuzzing with this project, and the apiKey value should be added after the paths, do you know how to solve this?

I'll show you an example.

I used this command on linux(kali-linux-2021.4-installer-amd64.iso / VirtualBox)
cats --contract=swagger.json --server=https://[Server IP:Port]/mc2/rest --paths=/logs --headers=head

[2022-08-03 13:24] en-milie commented on #48
Hi @dglee0307. Is the apiKey query param part of the Swagger specs?

[2022-08-03 23:34] dglee0307 commented on #48
Thanks to reply @en-milie. The parameter does not have an apiKey and requires an apiKey value to use the REST API, but the apiKey should be added after that path, not in the header.

[2022-08-08 05:40] en-milie commented on #48
Currently you can only append query parameters which are part of the contract. I'll consider adding new parameters in a future release. Target for the release this week.

[2022-08-09 23:51] dglee0307 commented on #48
okay I see. Thank you Have a Nice day~!

[2022-08-09 23:51] #48 closed

[2022-08-18 07:54] vzhirnov commented on #46
Hi @en-milie , sorry for long delay with the answer.

Yes, we can fix our swagger. And it will even be more conventional than using an extension for this, as we are currently doing.
There are no good reasons for us to have just such a structure in the swagger. But your tool doesn't (sort of) follow the standard completely.

In short, we are not blocked by their bug, we can fix it ourselves. But yo

[2022-08-19 05:57] en-milie commented on #44
This is now available in https://github.com/Endava/cats/releases/tag/cats-7.3.1

[2022-08-19 05:57] #44 closed

[2022-08-19 06:00] en-milie commented on #46
I understand. Currently CATS does not support custom extensions. We will think about how to best support this in future releases, but it might be tricky as these being "custom" it's hard to acomodate all possible behaviours.

[2022-08-19 06:06] en-milie commented on #48
I've added a `--queryParams` argument which is accepting a file similar to the `--headers` one where you can supply `key: value` for selected paths.

[2022-08-22 05:02] dglee0307 commented on #48
Thank you very much for the new version :)
I was execute cats, I have one question.
I received this report
-------------------------------------------------
"jsonBody": {
    "notAJson": "Unrecognized token 'np_period': was expecting (JSON String, Number, Array, Object or token 'null', 'true' or 'false')\n at [Source: (org.glassfish.jersey.message.internal.ReaderInterceptorExecutor$UnCloseableInpu

[2022-08-22 12:52] en-milie commented on #48
This means that your service is not behaving correctly i.e. CATS discovered a bug on how your service parses weird characters in the `np_period` field. Instead of failing gracefully with a proper validation error, it just crashes internally.

[2022-08-23 00:08] dglee0307 commented on #48
then, how can i see this test report error message?
In the example, I saw the error message (OPEN API petstore case)

[2022-08-23 15:12] en-milie commented on #48
you should search in your application or server logs and see the stacktrace of the failure. CATS only reports what comes back from the service. (CATS reports are written in the `cats-report` folder. just open the index.html)

[2022-08-24 08:31] dglee0307 commented on #48
Thanks :)

[2022-08-31 13:50] en-milie commented on #46
Closing this for now.

[2022-08-31 13:50] #46 closed

[2022-09-05 13:25] rhtenhove commented on #40
@en-milie I'm experiencing this as well with an internal project. I wish to deploy this using CI, so I've created a [project](https://gitlab.com/just-ci/tools/security/cats-runner) which does testing on a demo server from RESTler.

The [results](https://just-ci.gitlab.io/-/tools/security/cats-runner/-/jobs/2980667089/artifacts/cats-report/index.html) show 3 errors, all of which are from the VeryLa

[2022-09-05 15:23] en-milie commented on #40
Thanks for raising it. I'll take a look and get back.

[2022-09-06 17:49] en-milie commented on #40
Hi @rhtenhove. I'm trying to reproduce the issue, but I get valid request/responses in the report. For the `VeryLargeUnicodeValuesInHeadersFuzzer` I get `431` returned by the RESTler demo app.
As for the "java.io.IOException: unexpected end of stream on" this usually signals a service side issue. During exceptional situations the server fails to add proper headers to the response and the client (C

[2022-09-06 18:20] en-milie commented on #40
@rhtenhove Can you please try the following build and let me know if you still get the `999`s and the `end of streams`.
https://drive.google.com/file/d/1e4Hk7F18q-1sg5aK_mV7dm2BIkQsNc3T/view?usp=sharing

[2022-09-08 13:30] rhtenhove commented on #40
Thanks for the response!

There appears to be a difference between using Shared Runners and self hosted Runners on GitLab, where the former causes `java.net.SocketException: Broken pipe`. The latter succesfully runs all fuzzers against the target on the RESTler demo.

The internal project still produces plenty of errors varying between `Connection reset` and `end of stream`. Even with the 7.3.3 ve

[2022-09-08 15:51] en-milie commented on #40
Thanks for the suggestion. I'll wrap common types of connection exceptions into something more readable.

As for the verbosity, you can use the `--log` argument.
`--log "com.endava.cats:off"` will switch of all logging. `--log "com.endava.cats:error"` will only print errors.

[2022-09-14 17:41] en-milie commented on #40
@rhtenhove is anything else not working? Starting with version 8 of CATS you can also use `--log "off"` to switch off all logging.

[2022-09-14 19:17] rhtenhove commented on #40
@en-milie Thanks for the suggestions. The problem remains that the choice is either have no logging at all, or have the (in case of the target not behaving well) logs filled of large error messages as the level of the stack traces is 'error' which is quite high, and is a level I'd like to definitely see logging of as it may help show problems that otherwise would go unnoticed.

Example with v8.0.0

[2022-09-15 11:18] en-milie commented on #40
@rhtenhove connection exceptions are now wrapped as "empty content". I'll do a review of all logging and most likely will switch stack traces to debug, as they are not that useful for the end user, but rather for fixing bugs.

[2022-09-15 16:32] ohonchar opened #49 "SocketException: Broken pipe"
hello, I'm trying to run tests using this command:
`cats --contract=<my-yaml>.yaml --server=http://<my-server> --blackbox`
and after generating some amount of tests it fails with an error
 Exception while processing!: com.endava.cats.io.CatsIOException: java.net.SocketException: Broken pipe

`[Test 2627*][VLUSIFF] ✖ error      Exception while processing!: com.endava.cats.io.CatsIOException: java.n

[2022-09-15 16:33] ohonchar commented on #49
I'm using Mac Pro M1

[2022-09-16 13:43] en-milie commented on #49
@ohonchar A couple of questions:
- is this reproducible on every run?
- is this happening only for this Fuzzer?

I would recommend as a first step increasing the timeouts using `--readTimeout`, `--connectionTimeout` or `--writeTimeout`. The values are `seconds`. Default is 10.

[2022-09-23 17:46] en-milie commented on #40
Logging is less verbose by default in: https://github.com/Endava/cats/releases/tag/cats-8.1.0

[2022-09-23 17:56] rhtenhove commented on #40
Gave it a [try](https://gitlab.com/just-ci/tools/security/cats-runner/-/jobs/3076858532), very nice!

I'd say this issue can be closed.

[2022-09-25 17:06] en-milie commented on #40
Ok. I'll close this one. The next release will include even more granular control.

[2022-09-25 17:06] #40 closed

[2022-10-06 17:55] en-milie commented on #49
@ohonchar Is this still an issue?

[2022-10-06 18:14] ohonchar commented on #49
Sorry for the late reply. Nope, you can close this issue. Thanks

On Thu, Oct 6, 2022, 19:56 Madalin Ilie ***@***.***> wrote:

[2022-10-07 05:42] en-milie commented on #49
Great! Thanks.

[2022-10-07 05:42] #49 closed

[2022-11-13 09:44] zarashima opened #51 "Any way to apply all fuzzers regardsless of field types?"
As title, some fuzzers are skipped due to not matching with field types even though I've tried to define field types as below:

` properties:
        mobileNumber:
          type:
            oneOf:
            - type: string
            - type: number
            - type: integer
            - type: boolean
            - type: array
              items: {}
            - type: object`

For example

[2022-11-13 10:08] zarashima commented on #51
Sorry, I know why. Close this instead. Thanks :)

[2022-11-13 10:08] #51 closed